@charset "utf-8";

/* reset style */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0 auto;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

main, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;   
}

blockquote, q {
    quotes:none;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

ul,
ol {
    list-style: none;
}

img {
    border: 0;
    vertical-align: top;
}

a {
    margin:0;
    padding:0;
    color: inherit;
    text-decoration: none;
    background:transparent;
    vertical-align:baseline;
    -webkit-tap-highlight-color: transparent;
}

/* common style */

body {
    overflow-x: hidden; 
    font-family: "Noto Sans Korean", "돋움", Dotum, Gulim, sans-serif;
    font-size: 0;
    line-height: 1;
    letter-spacing: -0.25px;
}

input, textarea, button, select {
    font-family: "Noto Sans Korean";
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

::selection {
    color: #fff;
    background: #ed008c;
}

::-webkit-selection {
    color: #fff;
    background: #ed008c;
}

::-moz-selection {
    color: #fff;
    background: #ed008c;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #c1c1c1; 
}

::-webkit-scrollbar-thumb:hover {
    background: #ed008c; 
}

/* font family */

@font-face {
    font-family: "Noto Sans Korean";
    font-style: normal;
    font-weight: 400;
    src: local("Noto Sans Regular"), local("NotoSans-Regular"),
    url(../fonts/NotoSansKR-Regular-Hestia.eot),
    url(../fonts/NotoSansKR-Regular-Hestia.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NotoSansKR-Regular-Hestia.woff) format("woff"),
    url(../fonts/NotoSansKR-Regular-Hestia.otf) format("opentype");
}

@font-face {
    font-family: "Noto Sans Korean";
    font-style: normal;
    font-weight: 700;
    src: local("Noto Sans Bold"), local("NotoSans-Bold"),
    url(../fonts/NotoSansKR-Bold-Hestia.eot),
    url(../fonts/NotoSansKR-Bold-Hestia.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NotoSansKR-Bold-Hestia.woff) format("woff"),
    url(../fonts/NotoSansKR-Bold-Hestia.otf) format("opentype");
}