@charset "utf-8";

/* layout */

.wgrid {
    margin-left: 4%;
    margin-right: 4%;
}

/* owl carousel reset */

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0;
}

.owl-theme .owl-dots .owl-dot span {
    margin-top: 0;
    margin-bottom: 0;
}

/* common style */

.bar {
    display: inline-block;
    vertical-align: top;
}

.listWrap:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}

.listWrap .list {
    float: left;
}

.thumb {
    position: relative;
}

.thumb img {
    display: block;
    width: 100%;
}

/* header */

header .wgrid {
    overflow: hidden;
    padding: 20px 0 25px;
}

header h1,
header nav {
    float: left;
}

header h1 {
    width: 30%;
}

header h1 img {
    width: 200px;
}

header nav {
    width: 70%;
    text-align: right;
}

header nav .listWrap {
    display: inline-block;
}

header nav .listWrap .list {
    padding: 9px 0;
    margin-left: 60px;
}

header nav a {
    font-weight: 700;
    font-size: 18px;
}

/* footer */

footer {
    font-size: 14px;
    color: #999;
    border-top: 1px solid #dcdcdc;
}

footer .wgrid {
    padding: 30px 0 40px;
}

footer p {
    display: inline-block;
    padding-top: 10px;
}

footer .list .bar {
    margin: 2px 9px 0;
    width: 1px;
    height: 12px;
    background: #000;
}

footer .list .btm {
    margin-top: 10px;
}

footer .list.left {
    width: 36%;
}

footer .list.right {
    width: 64%;
    text-align: right;
}

footer .list.left .btm img {
    margin-top: 8px;
    width: 315px;
}

footer .list.right .top .bar {
    background: #999;
}

footer .list.right .top a {
    display: inline-block;
    padding: 8px 20px 9px;
    margin-left: 30px;
    border: 1px solid #999;
}

footer .list.right .btm {
    color: #000;
}

/* main : top */

main .top {
    position: relative;
}

main .top header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

main .top header:hover {
    background: #fff;
}

main .visual .owl-theme .owl-dots {
    position: absolute;
    top: 63%;
    left: 4%;
}

main .visual .owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background: transparent;
    border: 2px solid #000;
}

main .visual .owl-theme .owl-dots .owl-dot.active span,
main .visual .owl-theme .owl-dots .owl-dot:hover span {
    background: #ed008c;
    border-color: #ed008c;
}

main .visual .item {
    position: relative;
}

main .visual .visualTxt {
    position: absolute;
    top: 50%;
    left: 4%;
    -webkit-transform: translate(20%, -50%);
    transform: translate(20%, -50%);
    opacity: 0;
    -webkit-transition: 2s;
    transition: 2s;
}

main .visual .visualTxt h3 {
    font-size: 40px;
    font-weight: 400;
}

main .visual .visualTxt p {
    margin: 35px 0;
    font-size: 20px;
    line-height: 1.6;
}

main .visual .owl-theme .owl-item.active .visualTxt {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    opacity: 1;
}

/* main : btm */

main .btm {
    padding: 90px 0;
}

main .postList .list {
    position: relative;
    margin-right: 2%;
    width: 32%;
}

main .postList .list:last-child {
    margin-right: 0;
}

main .postList h2 {
    padding-bottom: 20px;
    font-size: 14px;
    border-bottom: 1px solid #dcdcdc;
}

main .postList a {
    display: block;
    margin-bottom: 79px;
}

main .postList dl {
    margin-top: 30px;
}

main .postList dl dt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    padding: 1px 0;
    font-weight: 700;
    font-size: 24px;
}

main .postList dl dd {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    margin-top: 20px;
    max-height: 72px;
    font-size: 16px;
    line-height: 1.5;
}

main .postList .uccNotice .thumb{
    position: relative;
    padding-bottom: 52%;
}

main .postList .uccNotice .thumb img{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

main .postList .uccNotice .thumb .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}

main .postList .uccNotice .thumb .mask img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -60px;
    width: 120px;
    height: auto;
}

main .qMenu {
    background: #ffe2ec;
}

main .qMenu .wgrid {
    padding: 35px 0;
}

main .qMenu ul {
    width: 1280px;
}

main .qMenu .list {
    position: relative;
    padding: 10px 0 10px 110px;
    width: 25%;
    background-repeat: no-repeat;
    background-position: left 30px top;
    background-size: 100px;
}

main .qMenu .list:first-child {
    background-image: url("../images/ico_qmenu_01.png") ;
}

main .qMenu .list:nth-child(2) {
    background-image: url("../images/ico_qmenu_02.png") ;
}

main .qMenu .list:nth-child(3) {
    background-image: url("../images/ico_qmenu_03.png") ;
}

main .qMenu .list:last-child {
    background-image: url("../images/ico_qmenu_04.png") ;
}

main .qMenu h2 {
    margin-bottom: 17px;
    font-size: 16px;
}

main .qMenu p {
    font-size: 18px;
    line-height: 1.3;
}

main .qMenu .bar {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -20px;
    width: 1px;
    height: 40px;
    background: #fff;
}

/* media query */

@media all and (max-width: 1919px) {

    /* footer */
    footer p {
        display: block;
        padding-top: 0;
    }
    footer .listWrap .list {
        float: none;
        clear: both;
        width: 100% !important;
        text-align: center !important;
    }
    footer .listWrap .list.right {
        margin-top: 30px;
    }
    footer .listWrap .list.right .top a {
        margin-top: 10px;
        margin-left: 0
    }

    /* main : top */
    main .visual .item {
        height: 800px;
    }
    main .visual .item img {
        width: auto;
        height: 100%;
    }

    /* main : btm */
    main .postList .uccNotice .thumb {
        /* height: 119%; */
        /* width: 100%; */
        /* overflow: hidden; */
    }
    main .postList .uccNotice .thumb img {
        /* width: auto; */
        /* height: 100%; */
    }
    main .qMenu ul {
        width: auto;
    }

}

@media all and (max-width: 767px) {

    /* main : btm */
    main .postList .uccNotice .thumb {
        height: 120%;
    }
    main .qMenu .list {
        width: 50%;
    }

}

@media all and (max-width: 575px) {

    /* main : top */
    main .visual .item {
        height: 500px;
    }

    /* main : btm */
    main .postList .list {
        float: none;
        clear: both;
        margin-right: 0;
        width: 100% !important;
    }
    main .postList .uccNotice .thumb {
        position: relative;
        right: auto;
        top: auto;
        height: auto;
    }
    main .postList .uccNotice .thumb img {
        width: 100%;
        height: auto;
    }
    main .postList .uccNotice dl {
        padding-top: 0;
    }
    main .qMenu .list {
        float: none;
        clear: both;
        width: 100%;
    }
    main .qMenu .bar {
        position: absolute;
    }

}