@charset "utf-8";

/* layout */

#wrap {
    position: relative;
    top: 0;
    left: 0;
    transition: all .3s ease-out;
}

.grid {
    position: relative;
    max-width: 1100px;
}
.wgrid {
    margin-left: 4%;
    margin-right: 4%;
}

/* owl carousel reset */

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0;
}
.owl-theme .owl-dots .owl-dot span {
    margin-top: 0;
    margin-bottom: 0;
}

/* color */

.bgGrey {
    background: #f6f6f6;
}

/* common style */

.paddTopNo {
    padding-top: 0 !important; 
}
.mrgTopNo {
    margin-top: 0 !important;
}
.linebreak {
    display: block;
}
.bar {
    display: inline-block;
    vertical-align: top;
}
.listWrap:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}
.listWrap .list {
    float: left;
}
.listWrap .list:last-child {
    margin-right: 0 !important;
}
.listTit h3 {
    padding-left: 20px;
    font-weight: 400;
    font-size: 26px;
}
.thumb {
    overflow: hidden;
    position: relative;
}
.thumb img {
    display: block;
    width: 100%;
}
.thumb .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}
.thumb .mask .playBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
}
.ucc {
    position: relative;
    padding-bottom: 56.25%;
}
.ucc iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.owl-theme .owl-nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 0;
    width: 100%;
}
.owl-theme .owl-nav [class*=owl-] {
    position: absolute;
    font-size: 0;
    margin: 0;
    padding: 0;
    background: transparent;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
}

/* form elements style */

input[type="text"] {
    padding: 10px;
    width: 100%;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
}
.labelInput {
    position: relative;
    font-size: 16px;
}
.labelInput span {
    position: absolute;
    top: 5px;
}
.labelInput input[type="text"] {
    padding-left: 90px;
}
textarea {
    padding: 10px;
    width: 100%;
    height: 200px;
    font-size: 18px;
    line-height: 1.4;
    border: 1px solid #ccc;
}
.termArea + .termArea {
    margin-top: 60px;
}
.termArea .tit {
    position: relative;
    margin-bottom: 20px;
}
.termArea h4 {
    font-size: 20px;
    font-weight: 400;
}
.termArea .tit .chkBox {
    position: absolute;
    top: 0;
    right: 0;
}
.termBox {
    overflow-x: hidden;
    padding: 20px;
    width: 100%;
    height: 200px;
    line-height: 1.5;
    border: 1px solid #ccc;
}
.termBox p {
    font-size: 14px;
}
.labelChk {
    font-size: 16px;
    color: #666;
    cursor: pointer;
}
.labelChk + .labelChk {
    margin-left: 40px;
}
.labelRadio {
    font-size: 16px;
    cursor: pointer;
}
.labelRadio input {
    vertical-align: top;
}
.labelRadio + .labelRadio {
    margin-left: 40px;
}
.labelChk input,
.labelRadio input {
    display: none;
}
.labelChk span,
.labelRadio span {
    display: inline-block;
    margin: -1px 5px 0 0;
    width: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid #ccc;
    vertical-align: top;
}
.labelChk input:checked + span,
.labelRadio input:checked + span {
    background: #ed008c;
    border-color: #ed008c;
}
.labelChk input:checked + span:after,
.labelRadio input:checked + span:after {
    content: "\2714";
    font-size: 16px;
    color: #fff;
    vertical-align: top;
}
select {
    padding: 5px 20px;
    width: 210px;
    font-size: 18px;
    border: 1px solid #dcdcdc;
    cursor: pointer;
}

/* header */

header {
    position: relative;
    border-bottom: 1px solid #dcdcdc;
}
header.active {
    background: #fff;
    border-bottom: 1px solid #dcdcdc !important;
}
header.mainHeader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 0;
    z-index: 10;
}
header .grid,
header .wgrid {
    overflow: hidden;
    padding: 20px 0 25px;
}
header h1,
header nav {
    float: left;
}
header h1 {
    width: 30%;
}
header h1 img {
    width: 200px;
}
header nav {
    width: 70%;
    text-align: right;
}
header nav .listWrap {
    display: inline-block;
}
header nav .listWrap .list {
    padding: 9px 0;
    margin-left: 60px;
}
header nav a {
    font-weight: 700;
    font-size: 18px;
}

/* sub navigation */

.subNav {
    position: absolute;
    top: 82px;
    width: 100%;
    padding: 20px 0;
    background: #fff;
    border-bottom: 1px solid #dcdcdc;
    z-index: 10;
}
.subNav .grid {
    position: static;
}
.subNav .moLogo {
    display: none;
}
.subNav .listWrap {
    float: right;
}
.subNav .listWrap .list {
    margin-left: 26px;
    width: 75px;
    text-align: center;
}
.subNav .listWrap .list:last-child {
    margin-left: 36px;
    width: 65px;
}
.subNav ul li {
    padding: 10px 0;
}
.subNav .tit {
    display: none;
}
.subNav a {
    font-size: 15px;
}
.subNav a:hover {
    color: #ed008c;
}

/* footer */

footer {
    font-size: 14px;
    color: #999;
    border-top: 1px solid #dcdcdc;
}
footer .grid {
    padding: 40px 0 50px;
    text-align: center;
}
footer .listWrap {
    display: inline-block;
}
footer .top .list:first-child {
    margin-right: 20px;
}
footer .top p {
    padding: 7px 0 0;
}
footer .top img {
    width: 310px;
}
footer .btm {
    margin-top: 30px;
}
footer .btm p,
footer .btm a {
    display: inline-block;
}
footer .btm .bar {
    width: 1px;
    height: 12px;
}
footer .tel a {
    padding: 8px 0;
    margin-left: 20px;
    width: 105px;
    border: 1px solid #999;
}
footer .tel .bar {
    margin: 12px 12px 0;
    background: #999;
}
footer .copyright {
    margin-top: 15px;
    color: #000;
}
footer .copyright .bar {
    margin: 3px 12px 0;
    background: #000;
}

/* popup */

body.fixed {
    overflow: hidden;
    height: 100%;
}
.popupOpen {
    cursor: pointer;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.7);
}
.popup .popupLayer {
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.popup .popupSpace {
    width: 100%;
    height: 20%;
}
/*
.popup .popupBody {
    -webkit-animation: showUp 0.7s ease-in-out;
    animation: showUp 0.7s ease-in-out;
    animation-fill-mode: forwards;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

@-webkit-keyframes showUp {
    from {
        opacity: 0;
        transform: translateY(10%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showUp {
    from {
        opacity: 0;
        transform: translateY(10%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
*/
.popup .viewPopup{
    position: relative;
    margin: 0 auto;
}
.popup .popupClose {
    position: absolute;
    top: 0;
    right: -70px;
    width: 50px;
    cursor: pointer;
}

/* uccpoup */

.uccPopup {
    position: absolute !important;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 1280px;
}

/* main : top */

main .top {
    position: relative;
}
main .visual .owl-theme .owl-dots {
    position: absolute;
    bottom: 37%;
    left: 4%;
}
main .visual .owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background: transparent;
    border: 2px solid #000;
}
main .visual .owl-theme .owl-dots .owl-dot.active span,
main .visual .owl-theme .owl-dots .owl-dot:hover span {
    background: #ed008c;
    border-color: #ed008c !important;
}
main .visual .item {
    position: relative;
}
main .visual .visualTxt {
    position: absolute;
    bottom: 38%;
    left: 4%;
    -webkit-transform: translate(20%, 0);
    transform: translate(20%, 0);
    opacity: 0;
    -webkit-transition: 2s;
    transition: 2s;
}
main .visual .visualTxt h3 {
    font-size: 40px;
    font-weight: 400;
}
main .visual .visualTxt p {
    margin: 35px 0;
    font-size: 20px;
    line-height: 1.6;
}
main .visual .owl-theme .owl-item.active .visualTxt {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
}

/* main : btm */

main .btm {
    padding: 90px 0;
}
main .postList .list {
    position: relative;
    margin-right: 2%;
    width: 32%;
}
main .postList .list:last-child {
    margin-right: 0;
}
main .postList h2 {
    padding-bottom: 20px;
    font-size: 14px;
    border-bottom: 1px solid #dcdcdc;
}
main .postList a {
    display: block;
    margin-bottom: 79px;
}
main .postList dl {
    margin-top: 30px;
}
main .postList dl dt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    padding: 1px 0;
    font-weight: 700;
    font-size: 24px;
}
main .postList dl dd {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    margin-top: 20px;
    max-height: 72px;
    font-size: 16px;
    line-height: 1.5;
}
main .postList .uccNotice .thumb{
    overflow: visible;
    padding-bottom: 52%;
}
main .postList .uccNotice .thumb img{
    position:absolute;
    bottom: 0;
    width: 100%;
}
main .postList .uccNotice .thumb .mask {
    display: block;
    top: auto;
    bottom: 0;
    height: 188%;
}
main .postList .uccNotice .thumb .mask .playBtn {
    bottom: auto;
    margin-top: -50px;
    margin-left: -60px;
    width: 120px;
}
main .qMenu {
    background: #ffe2ec;
}
main .qMenu .wgrid {
    padding: 35px 0;
}
main .qMenu ul {
    width: 1280px;
}
main .qMenu .list {
    position: relative;
    padding: 10px 0;
    width: 25%;
    background-repeat: no-repeat;
    background-position: left 30px top;
    background-size: 100px;
}
main .qMenu .list a {
    display: block;
    padding-left: 110px;
}
main .qMenu .list:first-child {
    background-image: url("../images/ico_qmenu_01.png") ;
}
main .qMenu .list:nth-child(2) {
    background-image: url("../images/ico_qmenu_02.png") ;
}
main .qMenu .list:nth-child(3) {
    background-image: url("../images/ico_qmenu_03.png") ;
}
main .qMenu .list:last-child {
    background-image: url("../images/ico_qmenu_04.png") ;
}
main .qMenu h2 {
    margin-bottom: 17px;
    font-size: 16px;
}
main .qMenu p {
    font-size: 18px;
    line-height: 1.3;
}
main .qMenu .bar {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -20px;
    width: 1px;
    height: 40px;
    background: #fff;
}

/* subpage common style */

.menuRoot {
    margin-top: 35px;
    text-align: right;
}
.menuRoot span {
    display: inline-block;
    font-size: 14px;
}
.menuRoot .ico {
   padding-right: 25px;
   background: url("../images/ico_root.png") no-repeat center right 7px; 
}
.secTitle {
    margin: 35px 0 80px;
    text-align: center;
}
.secTitle h2 {
    font-size: 40px;
}
.secTitle p {
    margin-top: 60px;
    font-size: 28px;
    line-height: 1.4;
    color: #666;
}
.secVisual {
    margin-bottom: 80px;
}
.secVisual .visual {
    position: absolute;
}
.secVisual .txtBox p {
    line-height: 1.5;
}
.txtVisual .txtBox h3 {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.3;
    color: #ed008c;
}
.txtVisual .txtBox p {
    font-size: 18px; 
}
.txtVisual .visual {
    top: 0;
    right: 0;
    width: 630px;
}
.imgVisual {
    position: relative;
    height: 420px;
}
.imgVisual .visual {
    position: absolute;
    top: 0;
    left: -100%;
    right: -100%;
    height: 100%; 
}
.imgVisual .grid {
    height: 100%;
}
.imgVisual .txtBox {
    position: absolute;
    left: 0;
    bottom: 40px;
    color: #fff;
}
.imgVisual .txtBox p {
    font-size: 28px;
}
.secRepre .grid {
    padding-bottom: 100px;
}
.secCon article {
    padding-bottom: 120px;
}
.tabMenu {
    overflow: hidden;
}
.tabMenu li {
    float: left;
    cursor: pointer;
}
.tabMenu li:last-child {
    margin-right: 0 !important;
}
.figure > div {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}
.figure > div p {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.figure.square {
    position: absolute;
    width: 180px;
}
.figure.square.right {
    right: 0;
}
.figure.square > div {
    background: #fff;
    border: 1px solid #ed008c;
}
.figure.square > div p {
    color: #ed008c;
}
.figure.circ {
    width: 135px;
}
.figure.circ > div {
    border-radius: 100%;
}
.mark {
    position: absolute;
    left: 0;
    width: 8px;
    height: 8px;
    background: #ed008c;
    border-radius: 100%;
}
.btnArea {
    text-align: center;
}
.btnArea .btn {
    display: inline-block;
    padding: 25px 0;
    margin: 0 10px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #dcdcdc;
}
.btnArea .btn.active {
    color: #ed008c;
    border-color: #ed008c;
}
.divTbl {
    display: table;
    width: 100%;
}
.divTbl .row {
    display: table-row;
    width: 100%;
}
.divTbl .cell {
    display: table-cell;
    vertical-align: middle;
}
.divTblWrap {
    position: relative;
}
.divTblCtg {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 20px;
    font-size: 18px;
}
.divTblCtg .mark {
    top: 3px;
}
.infoTblWrap {
    padding-left: 170px;
}
.infoTbl .cell {
    padding: 15px 0;
    vertical-align: top;
}
.infoTbl .row:first-child .cell {
    padding-top: 0;
}
.infoTbl .row:last-child .cell {
    padding-bottom: 0;
}
.infoTbl .cell p {
    font-size: 16px;
}
.infoTbl .cell p.mrgTop {
    margin-top: 15px;
}
.infoTbl .cell.tit {
    width: 130px;
}
.infoTbl .cell.tit p {
    font-weight: 700;
}
.formTbl .cell {
    padding: 30px 0;
}
.formTbl .cell p {
    font-size: 18px;
}
.formTbl .cell.vTop {
    vertical-align: top;
}
.formTbl .cell.tit {
    width: 10%;
}
.formTbl .cell.tit.wide {
    padding-left: 70px;
    width: 16%;
}
.formTbl .cell.txt {
    width: 37%;
}
.formTbl.colspan .cell.txt {
    width: 85%;
}
.formTbl hr {
    margin: 0;
    height: 20px;
    border: none;
}
.formTbl .labelChk,
.formTbl .labelRadio,
.formTbl .labelInput {
    font-size: 18px;
}
.formTbl textarea {
    height: 80px;
}
.tblForm {
    table-layout: fixed;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
}
.tblForm th {
    font-size: 16px;
    font-weight: 400;
    border-top: 2px solid #4d4d4d;
}
.tblForm td {
    font-size: 16px;
    border-top: 1px solid #dcdcdc;
}
.listForm .widthDate {
    width: 15%;
}
.listForm th,
.listForm td {
    padding: 20px 0;
}
.listForm th {
    text-align: center;  
}
.listForm td {
    text-align: center;
}
.listForm .listTit {
    padding-left: 40px;
    text-align: left;
}
.listForm .listTit a {
    display: inline-block;
    overflow: hidden;
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.listForm .listTit:hover a {
    color: #ed008c;
}
.listForm .listTit.none {
    text-align: center;
}
.listForm .date {
    color: #999;
}
.viewForm th {
    position: relative;
    padding: 30px 40px;
    text-align: left;
}
.viewForm th .date {
    position: absolute;
    right: 40px;
    color: #999;
}
.viewForm td {
   padding: 20px 40px;
}
.viewForm .txt {
    padding: 40px;
    line-height: 1.7;
}
.viewForm .fileBtn {
    display: block;
    padding: 10px 0 12px;
    width: 200px;
    text-align: center;
    background: #f6f6f6;
    border-radius: 2em;
}
.formDesc {
    margin-top: 20px;
}
.formDesc p {
    font-size: 16px;
    color: #666;
}
.formBtnArea {
    margin-top: 80px;
}
.formBtnArea .btn {
    width: 280px;
    color: #ed008c;
    border-color: #ed008c;
}
.formBtnArea .btn.active {
    color: #fff;
    background: #ed008c;
}
.pagination {
    margin-top: 80px;
    text-align: center;
    line-height: 32px;
}
.pagination span {
    display: inline-block;
    width: 34px;
    height: 36px;
    cursor: pointer;
}
.pagination .pageBtn {
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #dcdcdc;
}
.pagination .past1 {
    margin-right: 3px;
    background-image: url("../images/btn_page_prev_01.png");
}
.pagination .past2 {
    margin-right: 8px;
    background-image: url("../images/btn_page_prev_02.png");
}
.pagination .next1 {
    margin-left: 8px;
    background-image: url("../images/btn_page_next_02.png");
}
.pagination .next2 {
    margin-left: 3px;
    background-image: url("../images/btn_page_next_01.png");
}
.pagination a {
    display: inline-block;
    margin: 0 2px;
    font-size: 14px;
    color: #666;
    vertical-align: top;
}
.pagination a span {
    background-color: #fff;
}
.pagination a.active {
    color: #ed008c;
}

/* subpage : 회사소개 */

.introCorp .secRepre .grid {
    padding-top: 180px;
}
.introCorp .secRepre .list:first-child {
    margin-right: 1%;
    width: 53.5%;
}
.introCorp .secRepre .list:last-child {
    width: 45.35%;
}
.introCorp .secRepre .list img {
    width: 100%;
}
.introCorp article {
    padding-top: 80px;
}
.introCorp .infoTblWrap,
.introCorp .ci {
    margin-top: 80px;
}
.introCorp .tabMenu li {
    padding-bottom: 5px;
    margin-right: 45px;
    font-size: 28px;
    color: #666;
}
.introCorp .tabMenu li.active {
    font-weight: 700;
    color: #000;
    border-bottom: 3px solid #000;
}
.introCorp .ci img {
    width: 295px;
}

/* subpage : 비전 */

.introVision .secRepre .grid {
    padding-top: 60px;
}
.introVision .feature1 .list:last-child {
    padding-left: 80px;
    background: url("../images/ico_plus.png") no-repeat center left 20px;
}
.introVision .feature1 .figure {
    width: 145px;
}
.introVision .feature1 .figure > div {
    background: #fff;
}
.introVision .feature2 {
    margin-top: 100px;
}
.introVision .feature2 li {
    width: 400px;
}
.introVision .feature2 li:last-child {
    width: 300px;
}
.introVision .feature2 .ico {
    width: 60px;
}
.introVision .feature2 h4 {
    margin-top: 30px;
    font-size: 24px;
}
.introVision .feature2 p {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.5;
}
.introVision article {
    padding-top: 100px;
}
.introVision article img {
    width: 100%;
}

/* subpage : 오시는 길 */

.introMap .infoTblWrap {
    margin-top: 80px;
    padding-left: 220px;
}
.introMap .figure.circ > div {
    background: #f0f0f0;
}
.introMap .tabMenu li {
    margin-right: 25px;
}
.introMap .tabMenu li:hover .figure > div,
.introMap .tabMenu li.active .figure > div {
    color: #fff;
    background: #ed008c;
}
.introMap .figure.square {
    top: -100px;
    right: 0;
}
.introMap .mapArea img {
    width: 100%;
}

/* subpage : 서비스 */

.service article .grid {
    padding-top: 20px;
}
.service .figure.square {
    top: -90px;
}
.service .figure.square > div p {
    font-size: 28px;
}
.service .infoTblWrap {
    padding-left: 220px;
    margin-top: 120px;
}
.service .cell.tit p {
    color: #ed008c;
}
.svTbl .cell {
    padding: 60px 0;
    border-top: 1px solid #dcdcdc;
}
.svTbl .row:first-child .cell {
    border: 0;
}
.svTbl .cell p {
    margin: 30px 0;
    line-height: 1.8;
}
.svTbl .ci .list {
    margin-right: 10px;
}
.svTbl .ci img {
    width: 210px;
}
.svTbl .btnArea {
    text-align: left;
}
.svTbl .btnArea .btn {
    padding: 20px 0;
    width: 210px;
    font-size: 18px;
}
.svTbl .btnArea span {
    margin-left: 20px;
    font-size: 16px;
    color: #999;
}
.svTbl .btnArea .btn:hover {
    border-color: #ed008c;
    color: #ed008c;
}

/* subpage : 즐거운 직장 */

.funCorp .figure.circ {
    width: 190px;
}
.funCorp .figure.circ > div {
    background-size: 64px;
    background-position: center top 50px;
    background-repeat: no-repeat;
    border: 1px solid #ed008c;
}
.funCorp .welfare .list:last-child {
    padding-left: 220px;
    margin-left: 20px;
    background: url("../images/funcorp_ptn.png") repeat-x center;
}
.funCorp .welfare .list.mrgLt {
    margin-left: -30px;
}
.funCorp .welfare .list:first-child .figure.circ > div {
    background-image: url("../images/funcorp_ico_01.png");
    border-color: #fcd0ea;
}
.funCorp .welfare .list:nth-child(2) .figure.circ > div {
    background-image: url("../images/funcorp_ico_02.png");
    border-color: #f899d1;
}
.funCorp .welfare .list:nth-child(3) .figure.circ > div {
    background-image: url("../images/funcorp_ico_03.png");
    border-color: #f570bf;
}
.funCorp .welfare .list:nth-child(4) .figure.circ > div {
    background-image: url("../images/funcorp_ico_04.png");
}
.funCorp .welfare .list:last-child .figure.circ > div {
    background: #ed008c;
    color: #fff;
}
.funCorp .welfare .ico .figure > div p {
    top: 130px;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.funCorp .infoTblWrap {
    padding-left: 260px;
    margin-top: 120px;
}
.funCorp .divTblCtg {
    font-size: 26px;
    line-height: 1.2;
}
.funCorp .infoTblWrap .divTblDesc {
    padding-bottom: 30px;
    border-bottom: 1px solid #dcdcdc;
}
.funCorp .infoTblWrap .divTblDesc p {
    font-size: 20px;
}
.funCorp .infoTblWrap .listWrap .list {
    margin-right: 1%;
    width: 32.6%;
}
.funCorp .infoTblWrap .listWrap .list img {
    width: 100%;
}
.funCorp .infoTbl {
    padding: 30px 0;
}
.funCorp .infoTbl .cell.tit {
    width: 210px;
}

/* subpage : 해피하우스 */

.happyHouse .secRepre .grid {
    padding-top: 170px;
}
.happyHouse .secIntro .tabMenu li {
    margin-right: 25px;
}
.happyHouse .figure.circ > div {
    color: #ed008c;
    background: #fff;
    border: 1px solid #ed008c;
}
.happyHouse .tabMenu li:hover .figure > div,
.happyHouse .tabMenu li.active .figure > div {
    color: #fff;
    background: #ed008c;
}
.happyHouse .tabMenu li.off .figure > div {
    color: #000;
    background: #e9e9e9;
    border-color: #e9e9e9;
}
.happyHouse article {
    padding-top: 60px;
}
.happyHouse article .tabMenu li {
    padding: 10px 0;
    margin-right: 10px;
    width: 100px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #dcdcdc;
    cursor: pointer;
}
.happyHouse article .tabMenu li:hover,
.happyHouse article .tabMenu li.active {
    color: #ed008c;
    border-color: #ed008c;
}
.happyHouse .owl-theme {
    margin-top: 20px;
}
.happyHouse .owl-theme .owl-nav [class*=owl-] {
    width: 60px;
    height: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.happyHouse .owl-theme .owl-nav .owl-prev {
    left: -100px;
    background-image: url("../images/btn_slide_prev.png");
}
.happyHouse .owl-theme .owl-nav .owl-next {
    right: -100px;
    background-image: url("../images/btn_slide_next.png");
}

/* subpage : 홍보영상 */

.uccList {
    margin-top: 30px;
}
.uccList .list {
    margin-bottom: 40px;
    margin-right: 2%;
    width: 32%;
}
.uccList .list:nth-child(3n) {
    margin-right: 0;
}
.uccList .uccTit {
    margin-top: 15px;
}
.uccList .uccTit p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 50px;
    font-size: 18px;
    line-height: 1.5;
}
.uccList .thumb .mask {
    opacity: 0;
    transition: 0.2s ease-in-out;
}
.uccList .thumb .mask .playBtn {
    margin-top: -47.5px;
    margin-left: -47.5px;
    width: 95px;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: 0.3s ease-in-out;
}
.uccList .list:hover .mask {
    opacity: 1;
}
.uccList .list:hover .playBtn {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.uccBtnArea .btn {
    padding: 20px 0;
    width: 32%;
}

/* subpage : 문의하기 */

.qna .formTblWrap {
    margin-top: 80px;
}

/* subpage : 멤버전용 */
.memberMain .txtBox {
    text-align: center;
}
.memberMain .txtBox h3 {
    font-weight: 400;
    font-size: 26px;
    line-height: 1.5;
    color: #ed008c
}
.memberMain .txtBox p {
    font-size: 18px;
    line-height: 1.5;
}
.memberMain .txtBox .bar {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 50px;
    height: 1px; 
    background: #ed008c;
}
.memberMain .btnArea {
    margin-top: 80px;
}
.memberMain .btnArea .btn {
    width: 280px;
}
.member .formBtnArea .btn {
    width: 240px;
}

/* subpage : 개인정보처리방침 및 약관 */

.terms .txtBox {
    margin-top: 80px;
}

.terms .txtBox h3 {
    padding-bottom: 10px;
    font-size: 24px;
}

.terms .txtBox p {
    padding-top: 25px;
    line-height: 1.6;
    font-size: 18px;
}

.terms .txtBox .linebreak {
    padding-left: 25px;
}

.terms .txtBox .paddLeft {
    padding-left: 25px;
}

.terms .txtBox .paddLeft h4 {
    padding-top: 20px;
    font-size: 16px;
}

.terms .txtBox .paddLeft p {
    padding-top: 15px;
    font-size: 16px;
}

/* media query */

@media all and (max-width: 1919px) {

    /* ucc popup */
    .uccPopup {
        width: 80%;
    }

    /* main : btm */
    main .qMenu ul {
        width: auto;
    }

}

@media all and (max-width: 1099px) {

    /* layout */
    .grid {
        margin-left: 4%;
        margin-right: 4%;
    }

    /* header */
    header h1 {
        display: inline-block;
        float: none;
        clear: both;
        width: auto;
    }
    header nav {
        display: none;
    }
    header .moNavBtn {
        position: absolute;
        top: 20px;
        right: 30px;
        width: 38px;
        height: 31px;
        cursor: pointer;
    }
    header .moNavBtn:before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 4px;
        background: #222;
    }
    header .moNavBtn:after {
        display: block;
        content: "";
        position: absolute;
        top: 13px;
        right: 0;
        width: 100%;
        height: 10px;
        border-top: 4px solid #222;
        border-bottom: 4px solid #222;
    }

    /* mobile sub navigation */
    body.active {
        overflow: hidden;
    }
    #wrap.active {
        left: -100%;
    }
    .subNav {
        position: fixed;
        top: 0;
        right: -100%;
        padding: 100px 0 20px;
        height: 100%;
        overflow-y: scroll;
    }
    .subNav.active {
        right: 0;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
    .subNav .moLogo {
        display: block;
        position: absolute;
        top: 20px;
        left: 4%;
    }
    .subNav .moLogo img {
        width: 200px;
    }
    .subNav .moNavCloseBtn {
        position: absolute;
        top: 20px;
        right: 4%;
        width: 38px;
        height: 38px;
        cursor: pointer;
    }
    .subNav .moNavCloseBtn:before {
        display: block;
        content: "";
        position: absolute;
        top: 9px;
        width: 38px;
        height: 2px;
        width: 100%;
        background: #9c9ca5;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .subNav .moNavCloseBtn:after {
        display: block;
        content: "";
        position: absolute;
        top: 9px;
        right: 0;
        width: 38px;
        height: 2px;
        background: #9c9ca5;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .subNav .listWrap,
    .subNav .listWrap .list {
        float: none;
        clear: both;
        margin-left: 0 !important;
        width: 100% !important;
        text-align: left;
    }
    .subNav .listWrap .list {
        margin-bottom: 20px;
    }
    .subNav ul li {
        padding-left: 20px;
    }
    .subNav .tit {
        display: block;
        position: relative;
        font-weight: 700;
        font-size: 20px;
    }
    .subNav .tit .mark {
        top: 10px;
    }

    /* footer */
    footer p {
        line-height: 1.4;
    }
    footer .top .list {
        float: none;
        clear: both;
    }
    footer .top .list:first-child {
        margin-bottom: 20px;
        margin-right: 0;
    }
    footer .tel .bar {
        margin-top: 3px;
    }
    footer .tel a {
        display: block;
        margin: 0 auto;
        margin-top: 15px;
    }

    /* main : top */
    main .visual .item {
        height: 800px;
    }
    main .visual .item img {
        width: auto;
        height: 100%;
    }

    /* subpage common style */
    .txtVisual .visual {
        width: 57.27%;
    }
    .txtVisual .txtBox {
        margin: 0;
        width: 40%;
    }
    .formTbl .cell.tit.wide {
        padding-left: 40px;
    }


    /* subpage : 회사소개 */
    .introCorp .secRepre .grid {
        padding-top: 100px;
    }

    /* subpage : 비전*/
    .introVision .feature1 {
        width: 370px;
    }
    .introVision .feature2 li {
        margin-right: 1%;
        width: 32.66% !important;
    }

    /* subpage : 오시는 길 */
    .introMap .tabMenu {
        width: 770px;
    }
    .introMap .tabMenu li {
        margin: 5px 15px 5px 0;
    }

    /* subpage : 즐거운 직장 */
    .funCorp .welfare {
        width: 670px;
    }
    .funCorp .welfare .list:last-child {
        float: none;
        clear: both;
        padding-top: 180px;
        padding-left: 0;
        margin-top: 20px;
        margin-left: 0;
        background: url("../images/funcorp_ptn.png") repeat-y center;
    }

    /* subpage : 해피하우스 */
    .happyHouse .secIntro .tabMenu {
        width: 770px;
    }
    .happyHouse .secIntro .tabMenu li {
        margin: 5px 15px 5px 0;
    }
    .happyHouse .owl-theme .owl-nav {
        position: relative;
        top: auto;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        margin-top: 20px;
    }
    .happyHouse .owl-theme .owl-nav .owl-prev {
        left: 0;
    }
    .happyHouse .owl-theme .owl-nav .owl-next {
        right: 0;
    }

}

@media all and (max-width: 767px) {

    /* common style */
    .linebreak {
        display: inline;
    }

    /* form element style */
    input[type="text"] {
        font-size: 16px;
    }
    .labelInput {
        font-size: 16px;
    }
    .termArea h4 {
        font-size: 16px;
    }
    .termBox p {
        font-size: 12px;
    }
    .labelChk,
    .labelRadio {
        font-size: 14px;
    }
    .labelChk span {
        margin: 0 3px 0 0;
        width: 15px;
        height: 15px;
    }
    .labelChk input:checked + span:after {
        font-size: 13px;
    }
    select {
        font-size: 16px;
    }
    textarea {
        font-size: 16px;
    }

    /* popup */
    .popup .popupClose {
        top: -50px;
        right: 0;
        width: 30px;
    }

    /* header */
    header .grid,
    header .wgrid {
        padding: 15px 0 20px;
    }
    header h1 img {
        width: 100px;
    }
    header .moNavBtn {
        top: 15px;
        right: 0;
        width: 25px;
        height: 18px;
    }
    header.mainHeader .moNavBtn {
        right: 4%;
    }
    header .moNavBtn:before {
        height: 3px;
    }
    header .moNavBtn:after {
        top: 8px;
        height: 5px;
        border-width: 3px;
    }

    /* mobile sub navigation */
    .subNav {
        padding: 80px 0 20px;
    }
    .subNav .moLogo img {
        width: 100px;
    }
    .subNav .moNavCloseBtn {
        width: 30px;
        height: 30px;
    }
    .subNav .moNavCloseBtn:before,
    .subNav .moNavCloseBtn:after {
        width: 30px;
    }
    .subNav .tit {
        font-size: 18px;
    }

    /* footer */
    footer {
        font-size: 12px;
    }
    footer .grid {
        padding: 30px 0;
    }
    footer .top .list:first-child {
        margin-bottom: 10px;
    }
    footer .top p {
        padding: 0;
    }
    footer .top img {
        width: 206.66px;
    }
    footer .btm {
        margin-top: 20px;
    }

    /* main : top */
    main .visual .visualTxt h3 {
        font-size: 32px;
    }
    main .visual .visualTxt p {
        font-size: 16px;
    }
    main .postList h2 {
        padding-bottom: 15px;
    }
    main .postList dl {
        margin-top: 20px;
    }
    main .postList dl dt {
        font-size: 20px;
    }
    main .postList dl dd {
        margin-top: 15px;
        font-size: 14px;
    }

    /* main : btm */
    main .btm {
        padding: 60px 0;
    }
    main .qMenu .list {
        padding: 22px 0;
        width: 50%;
    }
    main .qMenu h2,
    main .qMenu p {
        font-size: 14px;
    }
    main .qMenu .bar {
        display: none;
    }

    /* subpage common style */
    .menuRoot {
        margin-top: 20px;
    }
    .menuRoot span {
        font-size: 12px;
    }
    .secTitle {
        margin: 30px 0 50px;
    }
    .secTitle h2 {
        font-size: 32px;
    }
    .secTitle p {
        margin-top: 40px;
        font-size: 22px;
    }
    .secVisual {
        margin-bottom: 50px;
    }
    .txtVisual .visual {
        position: relative;
        top: auto;
        right: auto;
        width: 100%;
    }
    .txtVisual .txtBox {
        width: auto;
    }
    .txtVisual .txtBox h3 {
        margin: 20px 0 15px;
        font-size: 22px;
    }
    .txtVisual .txtBox p {
        font-size: 14px;
    }
    .imgVisual {
        margin-bottom: 0;
        height: 320px;
    }
    .imgVisual .txtBox {
        bottom: 20px;
    }
    .imgVisual .txtBox p {
        font-size: 20px;
    }
    .secRepre .grid {
        padding: 60px 0 !important;
    }
    .secCon article {
        padding: 60px 0 100px;
    }
    .figure.circ {
        width: 115px;
    }
    .figure.square {
        width: 130px;
    }
    .figure > div p {
        font-size: 16px;
    }
    .mark {
        width: 6px;
        height: 6px;
    }
    .btnArea .btn {
        padding: 15px 0;
        font-size: 16px;
    }
    .divTblCtg {
        position: relative;
        top: auto;
        left: auto;
        padding-left: 15px;
        margin-bottom: 30px;
    }
    .infoTblWrap {
        padding-left: 0 !important;
    }
    .infoTbl .cell p {
        font-size: 14px;
    }
    .infoTbl .cell p.mrgTop {
        margin-top: 10px;
    }
    .formTbl .cell p {
        font-size: 16px;
    }
    .tblForm th,
    .tblForm td {
        font-size: 14px;
    }
    .viewForm th {
        padding: 20px;
        font-size: 18px;
    }
    .viewForm th .date {
        right: 20px;
    }
    .viewForm td {
        padding: 20px;
    }
    .viewForm .txt {
        padding: 25px 20px;
    }
    .formTbl .labelChk,
    .formTbl .labelRadio,
    .formTbl .labelInput {
        font-size: 16px;
    }
    .formBtnArea .btn {
        width: 140px;
    }
    .formDesc {
        margin-top: 30px;
    }
    .formDesc p {
        font-size: 14px;
    }

    /* subpage : 회사소개 */
    .introCorp .tabMenu li {
        margin-right: 30px;
        font-size: 22px;
    }
    .introCorp .infoTblWrap,
    .introCorp .ci {
        margin-top: 60px;
    }
    .introCorp .ci img {
        width: 196.66px;
    }

    /* subpage : 비전 */
    .introVision .feature1 .figure {
        width: 120px;
    }
    .introVision .feature2 h4 {
        font-size: 20px;
    }
    .introVision .feature2 {
        margin-top: 60px;
    }
    .introVision .feature2 p {
        font-size: 14px;
    }

    /* subpage : 오시는 길 */
    .introMap .tabMenu {
        width: 520px;
    }
    .introMap .infoTblWrap {
        margin-top: 60px;
    }
    .introMap .figure.square {
        top: -65px;
    }

    /* subpage : 서비스 */
    .service .figure.square {
        top: -70px;
    }
    .service .figure.square > div p {
        font-size: 20px;
    }
    .service .infoTblWrap {
        margin-top: 80px;
    }
    .svTbl .cell {
        padding: 40px 0;
    }
    .svTbl .ci .list {
        margin-right: 0.5%;
        width: 33%;
    }
    .svTbl .ci img {
        width: 100%;
    }
    .svTbl .btnArea .btn {
        padding: 15px 0;
        width: 150px;
        font-size: 14px;
    }
    .svTbl .btnArea span {
        margin-left: 15px;
        font-size: 14px;
    }

    /* subpage : 즐거운 직장 */
    .funCorp .welfare {
        width: 460px;
    }
    .funCorp .figure.circ {
        width: 135px;
    }
    .funCorp .figure.circ > div {
        background-size: 42.66px;
        background-position: center top 30px;
    }
    .funCorp .welfare .ico .figure > div p {
        top: 85px;
    }
    .funCorp .welfare .list:last-child {
        padding-top: 100px;
    }
    .funCorp .infoTblWrap {
        margin-top: 80px;
    }
    .funCorp .divTblCtg {
        font-size: 20px;
    }
    .funCorp .infoTblWrap .divTblDesc {
        padding-bottom: 20px;
    }
    .funCorp .infoTblWrap .divTblDesc p {
        font-size: 16px;
    }
    .funCorp .infoTbl {
        padding: 20px 0;
    }

    /* subpage : 해피하우스 */
    .happyHouse .secIntro .tabMenu {
        width: 520px;
    }
    .happyHouse article .tabMenu li {
        margin-right: 5px;
        width: 90px;
        font-size: 14px;
    }
    .happyHouse .owl-theme .owl-nav {
        margin-top: 15px;
    }
    .happyHouse .owl-theme .owl-nav [class*=owl-] {
        width: 40px;
        height: 40px;
    }

    /* subpage : 홍보채널 */
    .press .secCon article {
        padding-top: 0;
    }

    /* subpage : 홍보영상 */
    .listTit h3 {
        font-size: 20px;
    }
    .uccList .uccTit p {
        max-height: 50px;
        font-size: 16px;
    }

    /* subpage : 멤버전용 */
    .member .secCon article {
        padding-top: 0;
    }
    .memberMain .txtBox h3 {
        font-size: 20px;
    }
    .memberMain .txtBox p {
        font-size: 16px;
    }
    .memberMain .txtBox .bar {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 30px;
    }
    .memberMain .btnArea .btn {
        width: 200px;
    }
    .member .formBtnArea .btn {
        width: 140px;
    }

    /* subpage : 개인정보처리방침 및 약관 */
    .terms .txtBox {
        margin-top: 40px;
    }
    .terms .txtBox h3 {
        padding-bottom: 0;
        font-size: 18px;
    }
    .terms .txtBox p {
        padding-top: 15px;
        font-size: 14px;
    }
    .terms .txtBox .paddLeft,
    .terms .txtBox .linebreak {
        padding-left: 0;
    }
    .terms .txtBox .paddLeft h4 {
        padding-top: 20px;
        font-size: 13px;
    }
    .terms .txtBox .paddLeft p {
        padding-top: 5px;
        font-size: 13px;
    }

}

@media all and (max-width: 575px) {

    /* footer */
    footer {
        font-size: 10px;
    }
    footer .btm p,
    footer .btm a {
        display: block;
    }
    footer .btm a {
        margin-bottom: 10px;
    }
    footer .btm .bar {
        display: none;
    }

    /* form element style */
    input[type="text"] {
        padding: 10px 0;
        font-size: 14px;
    }
    .labelInput {
        font-size: 14px;
    }
    .termArea h4 {
        font-size: 14px;
    }
    .termBox {
        padding: 10px;
        height: 100px;
    }
    .labelChk,
    .labelRadio {
        display: block;
        font-size: 12px;
    }
    .labelChk span {
        width: 12px;
        height: 12px;
    }
    .labelChk input:checked + span:after {
        font-size: 10px;
    }
    .labelChk + .labelChk,
    .labelRadio + .labelRadio {
        margin-top: 10px;
        margin-left: 0;
    }
    select {
        padding: 5px 10px;
        width: auto;
        font-size: 14px;
    }
    textarea {
        padding: 10px;
        height: 150px;
        font-size: 14px;
    }

    /* popup */
    .popup .popupClose {
        top: -30px;
        width: 20px;
    }

    /* main : top */
    main .visual .owl-theme .owl-dots,
    main .visual .visualTxt {
        bottom: 30%;
    }
    main .visual .owl-theme .owl-dots .owl-dot span {
        width: 8px;
        height: 8px;
        margin: 0 3px;
        border-width: 1px;
    }
    main .visual .item {
        height: 500px;
    }
    main .visual .visualTxt h3 {
        font-size: 25px;
    }
    main .visual .visualTxt p {
        margin: 20px 0 35px;
        font-size: 14px;
    }

    /* main : btm */
    main .postList .list {
        float: none;
        clear: both;
        margin-right: 0;
        width: 100% !important;
    }
    main .postList a {
        margin-bottom: 50px;
    }
    main .postList .uccNotice .thumb {
        padding-bottom: 0;
    }
    main .postList .uccNotice .thumb img {
        position: relative;
        bottom: auto;
        left: auto;
    }
    main .postList .uccNotice .thumb .mask .playBtn {
        left: 50%;
        margin-top: -40px;
        margin-left: -40px;
        width: 80px;
    }
    main .qMenu .wgrid {
        padding: 30px 0;
    }
    main .qMenu .list {
        float: none;
        clear: both;
        padding: 18px 0 30px;
        width: 100%;
        background-position: left 0 top;
    }
    main .qMenu .list a {
        padding-left: 80px;
    }
    main .postList .uccNotice .thumb .mask {
        top: 0;
        height: auto;
    }

    /* subpage common style */
    .menuRoot {
        margin-top: 15px;
    }
    .menuRoot span {
        font-size: 10px;
    }
    .menuRoot .ico {
        padding-right: 20px;
        background-size: 3px;
    }
    .secTitle {
        margin: 25px 0 35px;
    }
    .secTitle h2 {
        font-size: 25px;
    }
    .secTitle p {
        margin-top: 20px;
        font-size: 16px;
    }
    .txtVisual .txtBox h3 {
        font-size: 18px;
    }
    .txtVisual .txtBox p {
        font-size: 12px;
    }
    .imgVisual .txtBox p {
        font-size: 16px;
    }
    .figure.circ {
        width: 90px;
    }
    .figure.square {
        width: 110px;
    }
    .figure > div p {
        font-size: 14px;
    }
    .btnArea .btn {
        padding: 12px 0;
        width: 110px;
        font-size: 14px;
    }
    .divTblCtg {
        padding-left: 15px;
        margin-bottom: 20px;
        font-size: 15px;
    }
    .infoTbl .cell {
        padding: 10px 0;
    }
    .infoTbl .cell.tit {
        width: 100px;
    }
    .infoTbl .cell p {
        font-size: 12px;
        line-height: 1.4;
    }
    .infoTbl .cell p.mrgTop {
        margin-top: 5px;
    }
    .formTbl,
    .formTbl .row,
    .formTbl .cell {
        display: block;
    }
    .formTbl .cell {
        padding: 15px 10px;
        height: auto;
    }
    .formTbl .cell.tit,
    .formTbl .cell.txt,
    .formTbl.colspan .cell.txt {
        width: 100%;
    }
    .formTbl .cell.tit {
        background: #f7f7f7;
    }
    .formTbl .cell.tit p {
        font-weight: 700;
    }
    .formTbl .cell.tit.wide {
        padding-left: 10px;
        width: 100%;
    }
    .formTbl .cell p {
        font-size: 14px;
    }
    .formTbl hr {
        height: 10px;
    }
    .formTbl .labelChk,
    .formTbl .labelRadio,
    .formTbl .labelInput {
        font-size: 14px;
    }
    .tblForm th,
    .tblForm td {
        font-size: 12px;
    }
    .listForm th,
    .listForm td {
        padding: 15px 0;
    }
    .listForm .widthDate {
        width: 20%;
    }
    .listForm .listTit {
        padding-left: 10px;
    }
    .viewForm th {
        padding: 15px 20px;
        font-size: 12px;
    }
    .viewForm .fileBtn {
        width: 150px;
    }
    .formBtnArea {
        margin-top: 40px;
    }
    .formDesc p {
        font-size: 12px;
    }
    .pagination {
        margin-top: 40px;
        line-height: 30px;
    }
    .pagination span {
        width: 30px;
        height: 32px;
    }
    .pagination a {
        margin: 0;
        font-size: 10px;
    }

    /* subpage : 회사소개 */
    .introCorp .secRepre .list {
        float: none;
        clear: both;
        width: 100% !important;
    }
    .introCorp .secRepre .list:first-child {
        margin-bottom: 10px;
        margin-right: 0;
    }
    .introCorp .tabMenu li {
        margin-right: 20px;
        font-size: 16px;
    }
    .introCorp .tabMenu li.active {
        border-width: 2px;
    }
    .introCorp .infoTblWrap,
    .introCorp .ci {
        margin-top: 40px;
    }
    .introCorp .ci img {
        width: 147.5px;
    }

    /* subpage : 비전 */
    .introVision .feature1 {
        width: 260px;
    }
    .introVision .feature1 .list:last-child {
        padding-left: 60px;
        background-size: 20px;
    }
    .introVision .feature1 .figure {
        width: 100px;
    }
    .introVision .feature2 li {
        float: none;
        clear: both;
        margin-bottom: 30px;
        margin-right: 0;
        width: 100% !important;
    }
    .introVision .feature2 .ico {
        width: 40px;
    }
    .introVision .feature2 h4 {
        margin-top: 15px;
        font-size: 16px;
    }
    .introVision .feature2 p {
        margin-top: 10px;
        font-size: 12px;
    }

    /* subpage : 오시는 길 */
    .introMap article {
        padding-top: 30px;
    }
    .introMap .tabMenu {
        width: 300px;
    }
    .introMap .tabMenu li {
        margin: 5px 10px 5px 0;
    }
    .introMap .figure.square {
        top: -55px;
    }

    /* subpage : 서비스 */
    .imgVisual {
        overflow: hidden;
        height: 200px;
    }
    .service .figure.square {
        top: -60px;
    }
    .service .figure.square > div p {
        font-size: 16px;
    }
    .svTbl .cell {
        padding: 20px 0;
    }
    .svTbl .cell p {
        margin: 20px 0;
        line-height: 1.8;
    }
    .svTbl .btnArea .btn {
        padding: 13px 0;
        width: 130px;
        font-size: 12px;
    }
    .svTbl .btnArea span {
        display: block;
        margin-top: 10px;
        margin-left: 0;
        font-size: 12px;
    }

    /* subpage : 즐거운 직장 */
    .funCorp .welfare {
        width: 310px;
    }
    .funCorp .figure.circ {
        width: 100px;
    }
    .funCorp .figure.circ > div {
        background-size: 32px;
        background-position: center top 25px;
    }
    .funCorp .welfare .ico .figure > div p {
        top: 65px;
    }
    .funCorp .welfare .list:last-child {
        padding-top: 70px;
    }
    .funCorp .divTblCtg {
        font-size: 16px;
    }
    .funCorp .infoTblWrap .divTblDesc p {
        font-size: 14px;
    }
    .funCorp .infoTbl .cell.tit {
        width: 150px;
    }

    /* subpage : 해피하우스 */
    .happyHouse .secIntro .tabMenu {
        width: 300px;
    }
    .happyHouse .secIntro .tabMenu li {
        margin: 5px 10px 5px 0;
    }
    .happyHouse article .tabMenu li {
        margin-right: 1%;
        width: 24.25%;
        font-size: 12px;
    }
    .happyHouse .owl-theme {
        margin-top: 15px;
    }

    /* subpage : 홍보채널 */
    .press .secCon article {
        padding-bottom: 50px;
    }

    /* subpage : 홍보영상 */
    .listTit h3 {
        padding-left: 15px;
        font-size: 16px;
    }
    .uccList {
        margin-top: 20px;
    }
    .uccList .uccTit {
        margin-top: 10px;
    }
    .uccList .list {
        margin-bottom: 30px;
        width: 49%;
    }
    .uccList .list:nth-child(2n) {
        margin-right: 0;
    }
    .uccList .list:nth-child(3n) {
        margin-right: 2%;
    }
    .uccList .thumb .mask .playBtn {
        margin-top: -23.75px;
        margin-left: -23.75px;
        width: 47.5px;
    }
    .uccList .uccTit p {
        font-size: 14px;
    }
    .uccBtnArea .btn {
        margin: 0;
        padding: 15px 0;
        width: 100%;
    }

    /* subpage : 멤버전용 */
    .memberMain .txtBox h3 {
        font-size: 16px;
    }
    .memberMain .txtBox p {
        font-size: 14px;
    }
    .memberMain .txtBox .bar {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .memberMain .btnArea {
        margin-top: 60px;
    }
    .memberMain .btnArea .btn {
        width: 180px;
    }
    .member .formBtnArea .btn {
        margin: 0 5px;
        width: 110px;
    }
    
}